{% extends 'base.html' %}

{% block title %} Sign Up {% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  <h2>Sign Up</h2>
</div>

<div class="d-flex justify-content-center">
  <form method="post">
    {% csrf_token %}
    <p>{% for field in registration_form %}</p>
      {{ field.label_tag}}
      {{ field }}

      {% if field.help_text %}
        <p><small style="color: grey;"> {{ field.help_text }}</small></p>
      {% endif %}

      {% for error in field.errors %}
        <p style="color: red;"> {{ error }}</p>
      {% endfor %}

    {% endfor %}
    <button class="btn btn-outline-primary" type="submit">Sign Up</<button>
  </form>
</div>
{% endblock %}
