{% extends 'base.html' %}

{% block title %} Sign Up {% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  <h2>Sign Up</h2>
</div>

<div class="d-flex justify-content-center">
  <form method="post">
    {% csrf_token %}
    {% for field in registration_form %}

      {{ field.label_tag}}
      {{ field }}

      {% if field.help_text %}
        <small style="color: grey;"> {{ field.help_text }}</small>
      {% endif %}

      {% for error in field.errors %}
        <small style="color: red;"> {{ errors }}</small>
      {% endif %}


    {{form.as_p}}
    <button class="btn btn-outline-primary" type="submit">Sign Up</<button>
  </form>
</div>
{% endblock %}
