{% extends 'base.html' %}

{% load embed_video_tags %}


{% block content %}
{% if user.is_authenticated %}
<h1 class="mb-5">Django Training Videos</h1>

<h2>Aerobics</h2>
  <div class="d-flex flex-wrap">
    {% for item in videos  %}

    <div class="px-3 mb-5">
        {% video item.url '426x315' %}
        <div class="d-flex justify-content-center">
            <p class="text-truncate">
                {{ item.title }}
            </p>
        </div>
    </div>
    {% endfor%}
  </div>
{% else %}
<div class="container-fluid pt-1">
    <h4>Sign up with ClubEx and get access to several videos for each of our training programs</h4>
</div>
{% endif %}

{% endblock content %}
