{% extends 'base.html' %}

{% load embed_video_tags %}
{% block title %} Home {% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<div class="d-flex flex-wrap">
    {% for item in videos %}
    <div class="px-3 mb-5">
        {% video item.url '426x240' %}
        <div class="d-flex justify-content-start">
            {{ item.title }}
        </div>
    </div>
    {% endfor %}
</div>

{% else %}
<div class="container pt-1">
    <h3>Sign up with ClubEx and get access to several videos for each of our training programs</h3>
</div>
{% endif %}
{% endblock content%}